body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-between; /* kiri & kanan */
  align-items: center;
  height: 50px;
  border: 1px solid gray;
  padding: 0 10px;
}

.item {
  background-color: lightpink;
  padding: 5px 10px;
}