body {
  font-family: Arial, sans-serif;
  background: #111;
  padding: 30px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(96, 54, 145);
  padding: 12px 15px;
  width: 700px;
}

.home {
  color: white;
  font-weight: bold;
  width: 80px;
}

.search-box {
  flex: 1;
  margin: 0 20px;
}

.search-box input {
  width: 100%;
  padding: 8px 15px;
  border: none;
  border-radius: 20px;
  outline: none;
}

.download-btn {
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 8px 14px;
  cursor: pointer;
}