body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background:#f2f2f2;
}

.container{
  width:500px;
  background:white;
  margin:40px auto;
  padding:15px;
}

.profile-card{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:15px;
}

.left-section{
  display:flex;
  align-items:center;
}

.left-section img{
  width:55px;
  height:55px;
  border-radius:50%;
  object-fit:cover;
  margin-right:12px;
}

.name{
  font-weight:bold;
  font-size:18px;
}

.text{
  color:gray;
  font-size:14px;
  margin-top:2px;
}

button{
  background:#3b82f6;
  color:white;
  border:none;
  padding:10px 16px;
  border-radius:4px;
  cursor:pointer;
}