body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background:#f2f2f2;
}

.video-list{
  width:700px;
  background:white;
  margin:40px auto;
  padding:15px;
}

.video-item{
  display:flex;
  margin-bottom:15px;
}

.video-item img{
  width:180px;
  height:100px;
  object-fit:cover;
  margin-right:12px;
}

.video-info h3{
  margin:0;
  font-size:18px;
  line-height:1.3;
}

.video-info p{
  margin:6px 0 0;
  color:gray;
  font-size:14px;
}